# The environment variables defined here are needed by kopia when run at
# the command line, or when running as a server.
#
# bin/kopia-exec.sh will source these automatically.
#
# bin/kopia-wrapper.sh will source these automatically.

# Set Kopia server credentials here
#KOPIA_SERVER_USERNAME=my_user
#KOPIA_SERVER_PASSWORD=my_super_secret_pa55w0rd

# Default for kopia-wrapper
KOPIA_CONFIG_PATH="/etc/kopia-wrapper/kopia-repository.conf"

# Ensure these directories exist
KOPIA_CACHE_DIRECTORY="/var/cache/kopia"
KOPIA_LOG_DIR="/var/log/kopia"

KOPIA_CHECK_FOR_UPDATES=false
